/* CSS Style */
/* By Ruben Lopez */

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar-custom {
    background-color: #cfb991;
}

.navbar-brand {
    margin-right: auto;
}

body {
    background-color: #555960;
    padding-top: 25px;
}

.content {
    padding-top: 100px;
}

.card {
    border: 6px solid #000000;
    border-radius: 10px;
    padding: 20px;
    background-color: #cfb991;
}
.card-link {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-fluid {
    height: 175vh;
}

.custom-img {
    width: 130px;
    height: 120px;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 50%;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    color: white;
    font-size: x-large;
    font-weight: 300;
}

.term {
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #333;
}

#popup-term {
    margin-top: 0;
}

#popup-definition {
    margin-top: 10px;
}